.main {
    background-color: #fff;
}
.main .search {
    padding: 10px;
    position: relative;
}
.main .text {
    height: 34px;
    font-size: 12px;
    border:  1px solid #007AFF;
    border-radius: 5px;
}
.main .search_btn {
    position: absolute;
    right: 10px;
    top: 10px;

}