.main {
    background-color: #fff;
}
.main .search {
    padding: 10px;
    position: relative;
}
.main .text {
    height: 34px;
    font-size: 12px;
    border:  1px solid #007AFF;
    border-radius: 5px;
}
.main .search_btn {
    position: absolute;
    right: 10px;
    top: 10px;

}

.history {
    padding: 10px;
    font-size: 12px;
    color: #666;
}
.history .content ul {
    border: 1px dashed red;
}
.history .content ul li {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dashed red;
    padding: 0 10px;
}
.history .content ul li:last-child {
    border-bottom: none;
}
.history .content ul li i {
    line-height: 30px;
}